extends /layout/_application
block body
  div.wrapper
    button.g-interactivepost(data-contenturl="http://gonshi.github.io/social/" data-cookiepolicy="single_host_origin" data-clientid="979651267983-1fk4f1tuoe0pvmn3552mhov3mdahtokd.apps.googleusercontent.com" data-prefilltext="ここに任意のコメントを設定することが出来ます。" data-calltoactionlabel="VISIT" data-calltoactionurl="http://gonshi.github.io/social/")
      img(src="https://www.gstatic.com/images/icons/gplus-64.png" alt="gplus")
